@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");
:root {
  --theme-color: rgba(153, 42, 218, 0.986);
}
.closingButton {
  cursor: pointer;
}

.hide {
  display: none;
}

.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--theme-color);
}
.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: var(--theme-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.link:focus {
  outline: none;
}

/* Email Collector Start */
.emailCollectorBox {
  opacity: 0;
  height: auto;
  width: 400px !important;
  padding: 20px !important;
  font-family: "Poppins" !important;
  border-radius: 10px;
  z-index: 100 !important;
  position: fixed;
}

.dt_container_head {
  display: flex;
  justify-content: space-between;
}

.dt_container_head b {
  font-size: 20px;
}

.dt_container_head span {
  font-size: 12px;
}

.dt_container_body p {
  font-size: 12px !important;
  padding: 10px 0px;
}

.dt_container_body input {
  padding: 5px !important;
  width: 45% !important;
}

.dt_container_body button {
  margin-top: 10px !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  cursor: pointer;
}

.dt_copyright {
  font-size: 12px;
  margin-top: 10px;
}
/* Email Collector End */
