@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");

.closingButton {
  cursor: pointer;
}

.hide {
  display: none;
}

#devToolKit {
  position: absolute !important;
}

/* Email Collector Start */
.emailCollectorBox {
  opacity: 0;
  height: 200px !important;
  width: 400px !important;
  padding: 20px !important;
  font-family: "Poppins" !important;
  border-radius: 10px;
  z-index: 100 !important;
  position: fixed;
}

.dt_container_head {
  display: flex;
  justify-content: space-between;
}

.dt_container_head b {
  font-size: 20px;
}

.dt_container_head span {
  font-size: 12px;
}

.dt_container_body p {
  font-size: 12px !important;
}

.dt_container_body input {
  padding: 5px !important;
  width: 45% !important;
}

.dt_container_body button {
  margin-top: 10px !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  cursor: pointer;
}

.dt_copyright {
  font-size: 12px;
  margin-top: 10px;
}
/* Email Collector End */