.hero {
  font-family: var(--inter);
  &-sect {
    display: grid;
    grid-template-columns: auto auto;
  }
  &-main {
    font-size: var(--tlarge);
    color: var(--light-slate);
  }
  &-sub {
    font-size: var(--tbody);
    font-family: var(--fira-code);
    color: var(--slate);
  }

  @media screen and (max-width: 960px) {
    &-image {
      display: none;
    }
    &-sect {
      display: flex;
    }
  }
  
}
