@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 12px;
  &-track {
    background-color: var(--bg-primary);
  }
  &-thumb {
    background-color: #151414;
    border: 3px solid #272928;
    border-radius: 10px;
  }
}

main {
  margin: 50px 400px;

  @media screen and (max-width: 1600px) {
    margin: 50px 300px;
  }

  @media screen and (max-width: 1200px) {
    margin: 50px 100px;
  }

  @media screen and (max-width: 960px) {
    margin: 50px 50px;
  }

  @media screen and (max-width: 480px) {
    margin: 50px 10px;
  }
}

.btn {
  background-color: var(--theme-color);
  padding: 12px 40px;
  color: var(--light-slate);
  font-family: var(--fira-code);
  transition: 0.3s ease-in-out;
  font-size: 12px;
  border-radius: 5px;
  &:hover {
    background-color: var(--theme-secondary);
  }
}

.icons {
  color: var(--theme-color);
}


.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--theme-color);
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--theme-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:focus {
    outline: none;
  }
}

.mainTitle {
  font-size: var(--tmedfull);
}

.subTitle {
  font-size: var(--tmed);
}