:root {
    --primary: #131416;
    --secondary: #151414;
    --theme-color: rgba(153, 42, 218, 0.986);
    --theme-secondary: rgba(32, 6, 48, 0.5);
    --light-slate: #e7e7e7;
    --slate: #b8b8b8;
    --txlarge: 54px;
    --tlarge: 48px;
    --tsemilarge: 32px;
    --tbody: 16px;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}